.form {
  font-size: 24px;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 48px;
}
.input {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #bdbdbd;
  border-radius: 12px;
  padding-left: 12px;
  min-width: 60%;
}
.input:focus {
  outline: none;
}
.button {
  color: white;
  font-size: 14px;
  font-weight: 600;
  background-color: #333;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 12px 24px;
  border: none;
  min-width: 12%;
  height: 50px;
  border-radius: 12px;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(68, 68, 68);
  transition: all 0.5s;
}
